[flake8]
max-line-length = 120
exclude =
    .git,
    .venv,
    dist,
    __pycache__,
    src/lexcql/LexParser.py,
    src/lexcql/LexLexer.py,
    src/lexcql/LexParserListener.py,
    src/lexcql/LexParserVisitor.py
docstring-convention = google
